<mat-card>
  <mat-card-header>
    <mat-card-title>Node {{nodeIndex}}</mat-card-title>
    <mat-card-subtitle>localhost:{{2379 + nodeIndex - 1}} | Member ID: {{nodeId}}
      <br>Term: {{term}} | Index: {{index}} | Applied
      Index: {{appliedIndex}} | <span
        [ngClass]="{'member-leader' : memberState === 'LEADER', 'member-follower' : memberState === 'FOLLOWER', 'member-unknown' : memberState === 'UNKNOWN STATUS' }">{{memberState}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; flex-direction: column;">
      <textarea #logTextArea style="height: 300px; resize: none;" readonly [value]="logText"
                [scrollTop]="lockLogToBottom ? logTextArea.scrollHeight : null"></textarea>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <textarea #watchTextArea style="height: 300px; resize: none; flex-grow: 1;" readonly [value]="watchText"
                  [scrollTop]="lockLogToBottom ? watchTextArea.scrollHeight : null"></textarea>
        <textarea #clientLogTextArea style="height: 300px; resize: none; flex-grow: 1;" readonly [value]="clientLogText"
                  [scrollTop]="lockLogToBottom ? clientLogTextArea.scrollHeight : null"></textarea>
      </div>
      <div style="width: 100%;">
        <kv-view [nodeIndex]="nodeIndex"></kv-view>
      </div>
      <div class="flex-row">
        <mat-slide-toggle [(ngModel)]="lockLogToBottom" color="primary" style="margin: 10px;">Lock to Bottom
        </mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="showHeartbeatMessages" color="primary" style="margin: 10px;">Show Heartbeat
          Messages
        </mat-slide-toggle>
      </div>
      <put-kv [nodeIndex]="nodeIndex"></put-kv>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="isStopped; then startButton else stopButton"></div>
    <ng-template #startButton>
      <button mat-raised-button [disabled]="isLoading" color="primary" (click)="restartNode()">START
      </button>
    </ng-template>
    <ng-template #stopButton>
      <button mat-raised-button [disabled]="isLoading" color="warn" (click)="stopNode()">STOP</button>
    </ng-template>
    <div *ngIf="isPaused && !isStepByStep; then continueButton else pauseButton"></div>
    <ng-template #continueButton>
      <button mat-raised-button [disabled]="isLoading || isStopped || isStepByStep" (click)="unpauseNode()">UNPAUSE
      </button>
    </ng-template>
    <ng-template #pauseButton>
      <button mat-raised-button [disabled]="isLoading || isStopped || isStepByStep" (click)="pauseNode()">PAUSE</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
