<div class="card-box" style="display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <div class="card-box" style="flex-grow: 1;">
      <node-view nodeIndex="1"></node-view>
    </div>
    <div class="card-box" style="flex-grow: 1;">
      <node-view nodeIndex="2"></node-view>
    </div>
    <div class="card-box" style="flex-grow: 1;">
      <node-view nodeIndex="3"></node-view>
    </div>
  </div>
  <div class="card-box">
    <kv-view></kv-view>
  </div>
</div>
